@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .achievement-toast {
    animation: slideDown 2s ease-out, fadeOut 4s ease-in-out !important;
    transform: translateX(-50%) translateY(-100%) !important;
  }

  .achievement-toast[data-state="open"] {
    transform: translateX(-50%) translateY(1rem) !important;
  }

  .achievement-toast[data-state="closed"] {
    animation: fadeOut 2s ease-in-out !important;
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-50%) translateY(-100%);
  }

  to {
    transform: translateX(-50%) translateY(1rem);
  }
}

@keyframes fadeOut {

  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}